﻿@using Microsoft.AspNetCore.Http
@using EcommerceApp.Utility
@inject IHttpContextAccessor HttpContextAccessor


    <nav class="navbar navbar-expand-md navbar-toggleable navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo/onestop-white.png" style="width:100px;padding:5px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="Index">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Manage Order</a>
                    </li>
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin"
                               asp-for="Admin" asp-controller="Panel" asp-action="Index">Panel</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class=nav-link asp-area="UI" asp-controller="Cart" asp-action="Index">
                            @await Component.InvokeAsync("ShoppingCart")
                        </a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
