/* Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #243a6f;
    position: relative;
    z-index: 1;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

/* Heading Area */
.heading {
    padding-top: 7rem;
    width: 95%;
    border-bottom: 0.2rem solid rgba(0,0,0,0.3);
    margin: 0 auto;
}

    .heading span {
        font-size: 2rem;
        padding: 1rem 6rem;
        color: #fff;
        background: var(--blue);
        border-top-right-radius: 3rem;
        display: inline-block;
    }

/* Page Hero */
.page-hero {
    min-height: 20vh;
    display: grid;
    place-items: center;
    background: var(--grey-200);
    color: var(--grey-500);
}

/* Sections */
.section {
    padding: 10rem 0 5rem;
}

.section-a {
    margin: 2rem 0;
}

    .section-a .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    .section-a h1 {
        font-size: 4rem;
        color: var(--primary-color);
    }

    .section-a p {
        margin: 1rem 0;
    }

/* Products */
.product-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem 3rem;
}

.product {
    height: 48rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}

    .product:hover {
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
    }

.product-header {
    position: relative;
    height: 35rem;
    background-color: #f6f2f1;
    transition: all 300ms ease-in-out;
}

    .product-header img {
        height: 100%;
    }

.product-footer {
    padding: 2rem 1.6rem;
}

    .product-footer h3 {
        font-size: 2.2rem;
    }

    .product-footer .price {
        color: #ff7c9c;
        font-size: 2rem;
    }

.rating {
    color: #43b3d9;
}

.product:hover .product-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1rem 1rem 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-in-out;
    z-index: 1;
}

.product-header .icons {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

    .product-header .icons span {
        background-color: #fff;
        font-size: 2.5rem;
        display: block;
        border-radius: 50%;
        padding: 1.5rem;
        line-height: 2rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }

        .product-header .icons span:hover {
            background-color: #ff7c9c;
            color: #fff;
        }

.product:hover .icons {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
}

/* Testimonials */
.testimonial-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
}

.testimonial {
    position: relative;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
}

    .testimonial:hover {
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
        transform: translateY(-1rem);
    }

    .testimonial span {
        position: absolute;
        top: 2%;
        left: 50%;
        font-size: 12rem;
        color: #ff7c9c;
        transform: translate(-50%, 0);
    }

    .testimonial p {
        margin: 2rem 0 1rem;
    }

    .testimonial .rating {
        margin-bottom: 1rem;
    }

    .testimonial .img-cover {
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
        overflow: hidden;
        margin: 0 auto;
    }

        .testimonial .img-cover img {
            height: 100%;
            object-fit: cover;
        }

    .testimonial h4 {
        margin-top: 1rem;
    }

/* Brands */
.brands-center {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
}

.brand {
    height: 8rem;
    width: 8rem;
    margin: 0 auto;
}

    .brand img {
        object-fit: contain;
    }

@media only screen and (max-width: 768px) {
    .brands-center {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Contact Area */
.contact {
    background: #333;
    color: #fff;
}

.contact-area {
    padding: 100px;
    text-align: center;
}

    .contact-area h2 {
        margin: 0 0 25px;
    }

        .contact-area h2 i {
            color: #dd4b39;
        }

    .contact-area ul.list-social {
        margin-bottom: 0;
    }

        .contact-area ul.list-social li a {
            display: block;
            height: 80px;
            width: 80px;
            line-height: 80px;
            font-size: 40px;
            border-radius: 100%;
            color: white;
        }

.social-twitter a {
    background-color: #1da1f2;
}

    .social-twitter a:hover {
        background-color: #0d95e8;
    }

.social-facebook a {
    background-color: #3b5998;
}

    .social-facebook a:hover {
        background-color: #344e86;
    }

.social-google-plus a {
    background-color: #dd4b39;
}

    .social-google-plus a:hover {
        background-color: #d73925;
    }

#contact p a {
    color: white;
}

/* CTA Section */
.cta {
    position: relative;
    background-image: url('/../images/bg-cta.jpg');
    background-position: center;
    background-size: cover;
    padding: 250px 0;
}

    .cta .cta-content {
        position: relative;
        z-index: 1;
    }

        .cta .cta-content h2 {
            color: white;
            max-width: 450px;
            font-size: 50px;
        }

    .cta .overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
    }

@media (min-width: 768px) {
    .cta .cta-content h2 {
        font-size: 80px;
    }
}

/* Footer */
.footer {
    background-color: #222;
    padding: 6rem 1rem;
    line-height: 3rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--white);
}

.footer-center a {
    display: block;
    color: #f1f1f1;
    font-size: 1.4rem;
    transition: 0.6s;
}

    .footer-center a:hover {
        color: var(--pink);
    }

.footer-center h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}
