@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image">
                    <img class="img-thumbnail" src="https://cdn4.iconfinder.com/data/icons/man-user-human-person-business-profile-avatar/100/20-1User_13-512.png" alt="iron-man" />
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="form-group">
                                <input asp-for="Input.Email" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Email Address" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.Name" class="form-control form-control-user" placeholder="Full Name">
                                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="Input.PhoneNumber" class="form-control form-control-user" placeholder="Phone Number">
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.StreetAddress" class="form-control form-control-user" placeholder="Street Address">
                                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.City" class="form-control form-control-user" placeholder="City">
                                    <span asp-validation-for="Input.City" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="Input.State" class="form-control form-control-user" placeholder="State">
                                    <span asp-validation-for="Input.State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.PostalCode" class="form-control form-control-user" placeholder="Postal Code" />
                                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.Password"
                                           class="form-control form-control-user"
                                           autocomplete="new-password"
                                           aria-required="true"
                                           id="exampleInputPassword" placeholder="Password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.ConfirmPassword"
                                           class="form-control form-control-user"
                                           autocomplete="new-password" aria-required="true"
                                           id="exampleRepeatPassword"
                                           placeholder="Repeat Password">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <button id="registerSubmit" type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="/Identity/Account/Login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#Input_Role').change(function () {
                var selection = $('#Input_Role Option:Selected').text();
                if (selection == 'Company') {
                    $('#Input_CompanyId').show();
                }
                else {
                    $('#Input_CompanyId').hide();
                }
            })
        })
    </script>
}